In [1]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import seaborn as sns
from IPython.core.pylabtools import figsize
from IPython.display import IFrame
from pandas.api.types import CategoricalDtype
from pandas import merge
from scipy.sparse import csr_matrix
from sklearn import datasets
from sklearn import metrics
from sklearn import neighbors                           
from sklearn import tree, linear_model,neighbors   
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.datasets import load_boston
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import MissingIndicator
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge 
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import*
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVR
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [2]:
jdquote = pd.read_csv('JDQuote - Master.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,14,35,48,51,55,56,57,58,60,62) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
sales = pd.read_csv('Daily Wholegood Sales Master.csv')

In [4]:
jdquote.head(10)

,QuoteID,NameOfQuote,QuoteType,CreationDate,ExpirationDate,CurrentQuoteStatus,CreatedLogon,LastModifiedLogon,SalesPersonName,CompanyName,...,POStatus,SignedDate,Reason For Lost Sales,Sales Lost To,Competitor model,Comments on Lost Deal,Net Cost,WorkFlow Status,Type,Unnamed: 62
0,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,Active,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN
1,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,Active,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN
2,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,Active,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN
3,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,Active,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN
4,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,Active,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN
5,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,Active,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN
6,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,Active,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN
7,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,Active,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN
8,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,Active,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN
9,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,Active,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN

In [6]:
sales.head(10)

,Location,Stock #,Serial No,Model,Make,Description,New/Used,Sale Date,Date Rcvd,Sold To,Total Sales,Total Cost,Gross Margin,Gross Margin %,salesperson_name,Salesperson Code,Acquired By,DaysOld,category,sold_to_code
0,(18) Centre Hall,415773,NaN,RB2072,JOHN DEERE,6' REAR BLADE /STRINGER,U,01/02/2019,01/07/2014,VALLEY AG & TURF LLC HALIFAX,$400.00,$400.00,$0.00,0.00%,AUCTION,S0199,NaN,1821.0,NaN,VALLEYC43447
1,(18) Centre Hall,442612,M0L150A022123,LT150,JOHN DEERE,"L&G GEAR W/38"" DE",U,01/02/2019,02/25/2015,VALLEY AG & TURF LLC HALIFAX,$650.00,$650.00,$0.00,0.00%,AUCTION,S0199,S1842,1407.0,60,VALLEYC43447
2,(18) Centre Hall,444184,M0G345E121228,GX345 48C TURF TIRES,JOHN DEERE,L&G TRACTOR,U,01/02/2019,06/30/2015,VALLEY AG & TURF LLC HALIFAX,"$2,456.00","$2,455.90",$0.10,0.00%,AUCTION,S0199,S1842,1282.0,60,VALLEYC43447
3,(18) Centre Hall,445659,NaN,STEEL TRACKS,GROUSER,TRACKS FOR SKID STEER,U,01/02/2019,10/29/2015,VALLEY AG & TURF LLC HALIFAX,$300.00,$300.00,$0.00,0.00%,AUCTION,S0199,S1840,1161.0,NaN,VALLEYC43447
4,(18) Centre Hall,447626,NaN,GT235,JOHN DEERE,L&G GT235 W/48C,U,01/02/2019,05/04/2016,VALLEY AG & TURF LLC HALIFAX,$749.90,$750.00,($0.10),-0.01%,AUCTION,S0199,S1838,973.0,NaN,VALLEYC43447
5,(18) Centre Hall,450223,NaN,"155 W/48""",JOHN DEERE,"LAWN TRACTOR W/48""/STCLAIR",U,01/02/2019,02/24/2017,VALLEY AG & TURF LLC HALIFAX,$125.00,$125.00,$0.00,0.00%,AUCTION,S0199,S1838,677.0,NaN,VALLEYC43447
6,(18) Centre Hall,456486,NaN,7000,JOHN DEERE,PLANTER 4RN CONS; DRY FERT; FR,U,01/02/2019,08/29/2018,LOUIS GALLI,"$4,500.00","$3,000.00","$1,500.00",33.33%,JOHN BUCKO,S1405,S1840,126.0,NaN,LOUISGALLI12216
7,(14) Fairmount City,402823,1LV5100RCHH400134,5100R,JOHN DEERE,5100R TRACTOR R4 CAB,N,01/02/2019,06/27/2018,J&J FARMS,"$77,300.05","$84,631.01","($7,330.96)",-9.48%,JOHN BUCKO,S1405,NaN,189.0,4WD,JJFARMS16153
8,(14) Fairmount City,405451,1P0540RXCHC003840,540R,JOHN DEERE,540R LOADER,N,01/02/2019,09/07/2018,J&J FARMS,"$8,500.00","$6,453.87","$2,046.13",24.07%,JOHN BUCKO,S1405,NaN,117.0,LDR,JJFARMS16153
9,(04) Oakfield,389546,1M0835RAKJM010459,XUV835R,JOHN DEERE,"XUV 835R HVAC, U&P, G&Y",N,01/02/2019,03/05/2018,KENNETH LIGHTNER,"$24,675.05","$25,692.39","($1,017.34)",-4.12%,JOHN BUCKO,S1405,NaN,303.0,GAT,KENNETHLIG19164

In [7]:
jdquote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330451 entries, 0 to 330450
Data columns (total 63 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   QuoteID                      330431 non-null  object
 1   NameOfQuote                  274895 non-null  object
 2   QuoteType                    330431 non-null  object
 3   CreationDate                 330431 non-null  object
 4   ExpirationDate               330069 non-null  object
 5   CurrentQuoteStatus           330431 non-null  object
 6   CreatedLogon                 330431 non-null  object
 7   LastModifiedLogon            330431 non-null  object
 8   SalesPersonName              330415 non-null  object
 9   CompanyName                  39667 non-null   object
 10  ContactLastName              192953 non-null  object
 11  ContactFirstName             191408 non-null  object
 12  City                         166644 non-null  object
 13  StateProvince                231468 non-null  object
 14  PostalZip                    166641 non-null  object
 15  Phone                        179362 non-null  object
 16  Customer Email               75303 non-null   object
 17  DealerID                     330431 non-null  float64
 18  DealerName                   326972 non-null  object
 19  DealerCity                   326972 non-null  object
 20  DealerState                  326972 non-null  object
 21  EquipmentCode                324356 non-null  float64
 22  EquipmentDescription         324310 non-null  object
 23  EquipmentType                324356 non-null  object
 24  EquipmentSerialNumber        44751 non-null   object
 25  EquipmentQuantity            324356 non-null  float64
 26  EquipmentAmount              324356 non-null  object
 27  DeereMDP                     0 non-null       float64
 28  CPA/CA/Surcharge%            0 non-null       float64
 29  SellingPrice                 324356 non-null  object
 30  EquipmentManufacturer        321849 non-null  object
 31  EquipmentCategoryDesc        315463 non-null  object
 32  EquipmentSubCategoryDesc     315199 non-null  object
 33  EquipmentManufactureYear     34183 non-null   float64
 34  EquipmentModel               324298 non-null  object
 35  StockNumber                  74212 non-null   object
 36  IncentiveProgramNumber       129811 non-null  object
 37  EquipmentStatus              324356 non-null  object
 38  TradeInCode                  14798 non-null   float64
 39  TradeInDescription           1571 non-null    object
 40  TradeInSerialNumber          10821 non-null   object
 41  TradeInQuantity              14798 non-null   float64
 42  NetTradeValue                14798 non-null   object
 43  TradeInManufacturer          14776 non-null   object
 44  TradeInCategoryDesc          7884 non-null    object
 45  TradeInSubCategoryDesc       4029 non-null    object
 46  TradeInManufactureYear       12118 non-null   float64
 47  TradeInModel                 14798 non-null   object
 48  PONumber                     49585 non-null   object
 49  FinanceIncentive             257372 non-null  float64
 50  FinanceIncentiveDescription  83843 non-null   float64
 51  TradeDifference              244655 non-null  object
 52  Event                        325314 non-null  object
 53  POStatus                     129115 non-null  object
 54  SignedDate                   22702 non-null   object
 55  Reason For Lost Sales        2516 non-null    object
 56  Sales Lost To                29 non-null      object
 57  Competitor model             46 non-null      object
 58  Comments on Lost Deal        86907 non-null   object
 59  Net Cost                     329823 non-null  object
 60  WorkFlow Status              242921 non-null  object
 61  Type                         0 non-null       float64
 62  Unnamed: 62                  608 non-null     object
dtypes: float64(12), object(51)
memory usage: 158.8+ MB

In [8]:
jdquote.describe()

,DealerID,EquipmentCode,EquipmentQuantity,DeereMDP,CPA/CA/Surcharge%,EquipmentManufactureYear,TradeInCode,TradeInQuantity,TradeInManufactureYear,FinanceIncentive,FinanceIncentiveDescription,Type
count,330431.000000,3.243560e+05,324356.0,0.0,0.0,34183.000000,1.479800e+04,14798.0,12118.000000,2.573720e+05,83843.0,0.0
mean,33971.326580,5.536126e+07,1.0,NaN,NaN,2016.333002,5.171000e+06,1.0,2009.260604,3.364306e+05,0.0,NaN
std,1185.133544,5.662642e+06,0.0,NaN,NaN,29.397462,4.199525e+05,0.0,73.307601,1.609043e+06,0.0,NaN
min,32466.000000,5.287746e+06,1.0,NaN,NaN,201.000000,7.609680e+05,1.0,1900.000000,0.000000e+00,0.0,NaN
25%,32957.000000,5.171795e+07,1.0,NaN,NaN,2017.000000,4.804293e+06,1.0,2004.000000,0.000000e+00,0.0,NaN
50%,34629.000000,5.573276e+07,1.0,NaN,NaN,2019.000000,5.143661e+06,1.0,2011.000000,0.000000e+00,0.0,NaN
75%,34676.000000,6.021902e+07,1.0,NaN,NaN,2020.000000,5.502122e+06,1.0,2016.000000,0.000000e+00,0.0,NaN
max,59198.000000,6.431094e+07,1.0,NaN,NaN,4450.000000,5.983221e+06,1.0,9999.000000,8.295384e+06,0.0,NaN

In [9]:
jdquote.shape

(330451, 63)

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55377 entries, 0 to 55376
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          55377 non-null  object
 1   Stock #           55377 non-null  int64
 2   Serial No         52114 non-null  object
 3   Model             55377 non-null  object
 4   Make              55377 non-null  object
 5   Description       55320 non-null  object
 6   New/Used          55377 non-null  object
 7   Sale Date         55377 non-null  object
 8   Date Rcvd         55322 non-null  object
 9   Sold To           53546 non-null  object
 10  Total Sales       55377 non-null  object
 11  Total Cost        55377 non-null  object
 12  Gross Margin      55377 non-null  object
 13  Gross Margin %    53788 non-null  object
 14  salesperson_name  55374 non-null  object
 15  Salesperson Code  55374 non-null  object
 16  Acquired By       10294 non-null  object
 17  DaysOld           55322 non-null  float64
 18  category          54746 non-null  object
 19  sold_to_code      53560 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 8.4+ MB

In [11]:
sales.describe()

             Stock #       DaysOld
count   55377.000000  55322.000000
mean   472012.389620    165.743701
std     40347.045369    318.972396
min      4218.000000     -6.000000
25%    465105.000000     22.000000
50%    479501.000000     69.000000
75%    494114.000000    194.000000
max    517821.000000   6788.000000

In [12]:
sales.shape

(55377, 20)

In [13]:
jdquote.columns

Index(['QuoteID', 'NameOfQuote', 'QuoteType', 'CreationDate', 'ExpirationDate',
       'CurrentQuoteStatus', 'CreatedLogon', 'LastModifiedLogon',
       'SalesPersonName', 'CompanyName', 'ContactLastName', 'ContactFirstName',
       'City', 'StateProvince', 'PostalZip', 'Phone', 'Customer Email',
       'DealerID', 'DealerName', 'DealerCity', 'DealerState', 'EquipmentCode',
       'EquipmentDescription', 'EquipmentType', 'EquipmentSerialNumber',
       'EquipmentQuantity', 'EquipmentAmount', 'DeereMDP', 'CPA/CA/Surcharge%',
       'SellingPrice', 'EquipmentManufacturer', 'EquipmentCategoryDesc',
       'EquipmentSubCategoryDesc', 'EquipmentManufactureYear',
       'EquipmentModel', 'StockNumber', 'IncentiveProgramNumber',
       'EquipmentStatus', 'TradeInCode', 'TradeInDescription',
       'TradeInSerialNumber', 'TradeInQuantity', 'NetTradeValue',
       'TradeInManufacturer', 'TradeInCategoryDesc', 'TradeInSubCategoryDesc',
       'TradeInManufactureYear', 'TradeInModel', 'PONumber',
       'FinanceIncentive', 'FinanceIncentiveDescription', 'TradeDifference',
       'Event', 'POStatus', 'SignedDate', 'Reason For Lost Sales',
       'Sales Lost To', 'Competitor model', 'Comments on Lost Deal',
       'Net Cost', 'WorkFlow Status', 'Type', 'Unnamed: 62'],
      dtype='object')

In [14]:
sales.columns

Index(['Location', 'Stock #', 'Serial No', 'Model', 'Make', 'Description',
       'New/Used', 'Sale Date', 'Date Rcvd', 'Sold To', 'Total Sales',
       'Total Cost', 'Gross Margin', 'Gross Margin %', 'salesperson_name',
       'Salesperson Code', 'Acquired By', 'DaysOld', 'category',
       'sold_to_code'],
      dtype='object')

In [15]:
base = pd.read_csv('Simon Base-Implement.csv')

In [16]:
base.head(10)

             EquipmentCategoryDesc Base/Implement
0                      4WD Loaders           Base
1                      AG Tractors           Base
2          Agriculture Attachments      Implement
3           Agriculture Implements      Implement
4                         Backhoes      Implement
5               Combine Harvesting           Base
6                Commercial Mowing           Base
7  Commercial Worksite Attachments      Implement
8              Compact 4WD Loaders           Base
9              Compact Attachments      Implement

In [17]:
base.describe()

       EquipmentCategoryDesc Base/Implement
count                     45             45
unique                    45              2
top     Nutrient Application           Base
freq                       1             27

In [18]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EquipmentCategoryDesc  45 non-null     object
 1   Base/Implement         45 non-null     object
dtypes: object(2)
memory usage: 848.0+ bytes

In [19]:
base.shape

(45, 2)

In [20]:
base.columns

Index(['EquipmentCategoryDesc', 'Base/Implement'], dtype='object')

In [21]:
jdquote1 = jdquote.merge(base,how = 'left',on = 'EquipmentCategoryDesc')

In [22]:
jdquote1.head(10)

,QuoteID,NameOfQuote,QuoteType,CreationDate,ExpirationDate,CurrentQuoteStatus,CreatedLogon,LastModifiedLogon,SalesPersonName,CompanyName,...,SignedDate,Reason For Lost Sales,Sales Lost To,Competitor model,Comments on Lost Deal,Net Cost,WorkFlow Status,Type,Unnamed: 62,Base/Implement
0,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base
1,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base
2,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base
3,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base
4,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base
5,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN,Implement
6,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN,NaN
7,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN,NaN
8,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN,NaN
9,18749945,NaN,Purchase,2-Jan-19,9-Jan-19,Expired,X453335,X453335,"KINCH,AARON",JA LENE FARM,...,NaN,NaN,NaN,NaN,NaN,"7,940.62",Not Sent,NaN,NaN,NaN

In [24]:
sales.shape

(55377, 20)

In [25]:
jdquote.shape

(330451, 63)

In [26]:
jdquote1.shape

(330451, 64)

In [81]:
jdquote1.shape[0]

330451

In [143]:
m1 = []
for i in range(10000):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m1.append('0')
            else:
                m1.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m1.append(jdquote1['ContactFirstName'][i])
            else:
                m1.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m1.append(jdquote1['CompanyName'][i])
            else:
                m1.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m1.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m1.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [144]:
m1

['FOSKIT KEVIN',
 'FOSKIT KEVIN',
 'FOSKIT KEVIN',
 'FOSKIT KEVIN',
 'FOSKIT KEVIN',
 'JA LENE FARM',
 'JA LENE FARM',
 'JA LENE FARM',
 'JA LENE FARM',
 'JA LENE FARM',
 'JA LENE FARM',
 'DONOVAN MIKE',
 'CONGDON THOMAS',
 'CONGDON THOMAS',
 'CONGDON THOMAS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'TOWN OF NIAGARA',
 'DECKER RICHARD',
 'DECKER RICHARD',
 'DECKER RICHARD',
 'NIAGARA FALLS HOUSING AUTH',
 'NIAGARA FALLS HOUSING AUTH',
 'NIAGARA FALLS HOUSING AUTH',
 'WARREN STATE HOSPITAL',
 'WARREN STATE HOSPITAL',
 'VILLAGE OF GENESEO/DPW',
 'HILTON CENTRAL SCHOOLS',
 'MCCLELLAND RON',
 'MCCLELLAND RON',
 'HILLY ORCHARD LLC',
 'HOUSER TIMOTHY',
 'HOUSER TIMOTHY',
 'HOUSER TIMOTHY',
 'HOUSER TIMOTHY',
 'SHAH RAJNI',
 'JENSEN PHILIP',
 'JENSEN PHILIP',
 'PITTSBURGH INTERNATIONAL AIRPORT FIELD MAINTENANCE CENTER',
 'WEED THOMAS',
 'WEED THOMAS',
 'CITY OF LOCKPORT BUILDING MAINTENANCE DEPARTMENT',
 'TOWN OF WEBSTER HIGHWAY DEPT.',
 'TOWN OF WEBSTER HIGHWAY DEPT.',
 'TOWN OF WEBSTER HIGHWAY DEPT.',
 'HUNT ELWIN',
 'HUNT ELWIN',
 'HUNT ELWIN',
 'DOMOY FARMS, LLC',
 'STONE BARN FARM',
 'STONE BARN FARM',
 'STONE BARN FARM',
 'STONE BARN FARM',
 'CARPENTER JOHN',
 'CARPENTER JOHN',
 'ONTARIO COUNTY HIGHWAY DEPARTMENT',
 'ONTARIO COUNTY HIGHWAY DEPARTMENT',
 'TOWN OF SENECA HIGHWAY DEPARTMENT',
 'TOWN OF SENECA HIGHWAY DEPARTMENT',
 'TOWN OF SENECA HIGHWAY DEPARTMENT',
 'TOWN OF SENECA HIGHWAY DEPARTMENT',
 'TOWN OF SENECA HIGHWAY DEPARTMENT',
 'TOWN OF SHELDON',
 'TOWN OF SHELDON',
 'COMMONWEALTH OF PENNSYLVANIA MORAINE STATE PARK MAINTENANCE DEPARTMENT',
 'COMMONWEALTH OF PENNSYLVANIA MORAINE STATE PARK MAINTENANCE DEPARTMENT',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'SYMONDS MARGARET',
 'SYMONDS MARGARET',
 'SYMONDS MARGARET',
 'AMBROSE JOHN',
 'KILE RONALD',
 'KILE RONALD',
 'SACKETT WALTER',
 'SMITH GAYLE',
 'SMITH GAYLE',
 'SMITH GAYLE',
 'SMITH GAYLE',
 'HONEY JIM',
 'HONEY JIM',
 'HONEY JIM',
 'HONEY JIM',
 'EBERLY LELAND',
 'ZIEMENDORF DONALD',
 'CLOVER GREEN LAWN SVC',
 'ARNOLD WADE',
 'BELJAN PETER',
 'CALLAN FARMS',
 'CALLAN FARMS',
 'CALLAN FARMS',
 'CALLAN FARMS',
 'CALLAN FARMS',
 'CALLAN FARMS',
 'OAKFIELD ALABAMA FARMS',
 'OAKFIELD ALABAMA FARMS',
 'OAKFIELD ALABAMA FARMS',
 'KAMHOLZ ENTERPRISES LLC',
 'GERRARD JAMES',
 'POTTEIGER CLYDE',
 'POTTEIGER CLYDE',
 'CHRISTENSON ALAN',
 'CHRISTENSON ALAN',
 'OAK ORCHARD ESTATES',
 'OAK ORCHARD ESTATES',
 'OAK ORCHARD ESTATES',
 'OAK ORCHARD ESTATES',
 'FACTORY DIRECT TRAILERS',
 'FACTORY DIRECT TRAILERS',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'STATE OF NEW YORK SAMPSON STATE PARK',
 'BIOTY MARK',
 'BIOTY MARK',
 'BIOTY MARK',
 'BIOTY MARK',
 'BIOTY MARK',
 'BIOTY MARK',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'YORK CENTRAL SCHOOL ATTN:GULLO,TONY',
 'SULLIVAN ROBERT',
 'SULLIVAN ROBERT',
 'LEE JAMES',
 'LEE JAMES',
 'LEE JAMES',
 'LEE JAMES',
 'SENECA COUNTY WATER SEWER',
 'HOUSEL JASON',
 'HOUSEL JASON',
 'HOUSEL JASON',
 'ORLEANS COUNTY SOIL & WATER CONS',
 'ORLEANS COUNTY SOIL & WATER CONS',
 '0',
 'SHARROW DAVID',
 'SHARROW DAVID',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'EDEN AG RESOURCES, LLC',
 'CLEPPER BENJAMIN',
 'CLEPPER BENJAMIN',
 'CLEPPER BENJAMIN',
 'CLEPPER BENJAMIN',
 'CLEPPER BENJAMIN',
 'EVERMAN HENRY',
 'WAYLAND COHOCTON CENTRAL SCHOOL',
 'WAYLAND COHOCTON CENTRAL SCHOOL',
 'WAYLAND COHOCTON CENTRAL SCHOOL',
 'LOYALSOCK TOWNSHIP',
 'POST GABRIEN',
 'POST GABRIEN',
 'POST GABRIEN',
 'SOMERSET TOWN OF INC WATER/SEWER DEPARTMENT',
 'SOMERSET TOWN OF INC WATER/SEWER DEPARTMENT',
 'SOMERSET TOWN OF INC WATER/SEWER DEPARTMENT',
 'GENESEE COUNTY BUILDING & GROUNDS',
 'GENESEE COUNTY BUILDING & GROUNDS',
 'HEILMAN DAN',
 'HEILMAN DAN',
 'HEILMAN DAN',
 'HEILMAN DAN',
 'HEILMAN DAN',
 'HEILMAN DAN',
 'PRECISION GENERAL CONTRAC',
 'ZIMMERMAN KEVIN',
 'HISERODT DOUGLAS',
 '0',
 'JSL FARMS',
 'JSL FARMS',
 'CONNOR MICHAEL',
 'CONNOR MICHAEL',
 'MURRAY TIM',
 'MURRAY TIM',
 'MURRAY TIM',
 'MURRAY TIM',
 'MURRAY TIM',
 'AGOS RONALD',
 'AGOS RONALD',
 'OSBORN KEVIN',
 'OSBORN KEVIN',
 'OSBORN KEVIN',
 'OSBORN KEVIN',
 'OSBORN KEVIN',
 'OSBORN KEVIN',
 'WESTFIELD, VILLAGE OF KYLE SUNDAY',
 'MILLERSBURG BOROUGH OFFICE',
 'Dummy quote for 280',
 'Dummy quote for 280',
 'Dummy quote for 280',
 'SISTERS OF MERCY SISTER WESCHLER',
 'SISTERS OF MERCY SISTER WESCHLER',
 'SISTERS OF MERCY SISTER WESCHLER',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'BERNECKER ARTHUR',
 'ASHLEY ROBERT',
 'TOWN OF FARMINGTON',
 'MERRY JOHN',
 'MERRY JOHN',
 'MERRY JOHN',
 'MERRY JOHN',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'HISERODT DOUGLAS',
 'ASHLEY ROBERT',
 'AUSTEN KATHERINE',
 'PITTSBURGH INTERNATIONAL AIRPORT FIELD MAINTENANCE CENTER',
 'CITY OF GENEVA BUILDINGS AND PARKS DEPT',
 'CITY OF STRUTHERS MAUTHE PARK CLYDE BOB',
 'NIAGARA FALLS STATE PARK MEIDENBAUER ROBERT',
 'BAYER MONSANTO',
 'BAYER MONSANTO',
 'BAYER MONSANTO',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'WIEDOR ADAM',
 'WIEDOR ADAM',
 'WIEDOR ADAM',
 'LAKE TIMOTHY',
 'LAKE TIMOTHY',
 'CLIFTON SPRINGS HOSPITAL CLIFTON SPRINGS HOSPITAL AND C',
 'MOSER DALE',
 'OSUCHA FARMS',
 'WILLIAMS WILLIAM',
 'WILLIAMS WILLIAM',
 'WILLIAMS WILLIAM',
 'BAY FARMS LLP JOEL W BAY',
 'BAY FARMS LLP JOEL W BAY',
 'BAKER JUSTIN',
 'TIUCH KEVIN',
 'TIUCH KEVIN',
 'TIUCH KEVIN',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'BRADFORD COUNTY HOUSING AUTHORITY',
 'BRADFORD COUNTY HOUSING AUTHORITY',
 'BRADFORD COUNTY HOUSING AUTHORITY',
 'BRADFORD COUNTY HOUSING AUTHORITY',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'HIGHLAND PARK APARTMENTS',
 'CLARION COUNTY AIRPORT-AXQ',
 'CLARION COUNTY AIRPORT-AXQ',
 'CLARION COUNTY AIRPORT-AXQ',
 'CLARION COUNTY AIRPORT-AXQ',
 'FRAVEL DONALD',
 'DROBEZKO DAVE',
 'WRIGHT CAMERON',
 'WRIGHT CAMERON',
 'WRIGHT CAMERON',
 'SHERMAN CENTRAL SCHOOL',
 'SHERMAN CENTRAL SCHOOL',
 'ABENDROTH ROBERT',
 'ABENDROTH ROBERT',
 'STONEWOOD BUILDERS LLC',
 'STONEWOOD BUILDERS LLC',
 'STONEWOOD BUILDERS LLC',
 'RUTKOWSKI DAVID',
 "JAKE'S GREENHOUSE INC.",
 "JAKE'S GREENHOUSE INC.",
 "JAKE'S GREENHOUSE INC.",
 'SPROUL STATE FOREST DIST 10',
 'HANOVER FOODS',
 'TOWN OF PITTSFORD PARKS & RECREATION DEPARTMENT',
 'TOWN OF PITTSFORD PARKS & RECREATION DEPARTMENT',
 'TOWN OF CHILI/PARKS DEPT TONY SLOAN',
 'TOWN OF CHILI/PARKS DEPT TONY SLOAN',
 'TOWN OF CHILI/PARKS DEPT TONY SLOAN',
 'TOWN OF CHILI/PARKS DEPT TONY SLOAN',
 'VILLAGE OF SPENCERPORT',
 'VILLAGE OF SPENCERPORT',
 'VILLAGE OF SPENCERPORT',
 'VILLAGE OF SPENCERPORT',
 'RHOADS BROTHERS FARM RANDY/RONNIE A RHOADS',
 'RHOADS BROTHERS FARM RANDY/RONNIE A RHOADS',
 'NOR-TECH',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'ROY TEITSWORTH INC TEITSWORTH, ROY',
 'PINE RIDGE FARMS',
 'PINE RIDGE FARMS',
 'WRIGHT CAMERON',
 'WRIGHT CAMERON',
 'WRIGHT CAMERON',
 'WRIGHT CAMERON',
 'LAPP CHRIS',
 'LAPP CHRIS',
 'CLOVER TOWNSHIP',
 'CLOVER TOWNSHIP',
 'GOWANDA CORRECTIONAL FACILITY',
 'GOWANDA CORRECTIONAL FACILITY',
 'GOWANDA CORRECTIONAL FACILITY',
 'GOWANDA CORRECTIONAL FACILITY',
 'GOWANDA CORRECTIONAL FACILITY',
 'GOWANDA CORRECTIONAL FACILITY',
 'AM FARMS',
 'AM FARMS',
 'AM FARMS',
 'MAURER DALE',
 'MAURER DALE',
 'MAURER DALE',
 'MAURER DALE',
 'MAURER DALE',
 'MAURER DALE',
 'MAURER DALE',
 'MAHANTONGO GAME FARMS',
 'PRESCOTT STEVE',
 'PRESCOTT STEVE',
 'ZEH GREG',
 'ZEH GREG',
 'ZEH GREG',
 'LAKE CHARLES',
 'LAKE CHARLES',
 'LAKE CHARLES',
 'AMERICAN ROCK SALT CO LLC',
 'KOLSTEE STEVEN',
 'JAMES JOSEPH',
 'WOODLAWN FARMS JOHN W MORGAN',
 'KOOY JON',
 'SCATTERED ACRES FARMS',
 'BENNER GEOSEGVICES INC',
 'BENNER GEOSEGVICES INC',
 'BENNER GEOSEGVICES INC',
 'BENNER GEOSEGVICES INC',
 'BENNER GEOSEGVICES INC',
 'ALLEGANY COUNTY DEPT PUBLIC WORKS',
 'ALLEGANY COUNTY DEPT PUBLIC WORKS',
 'ALLEGANY COUNTY DEPT PUBLIC WORKS',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'YAPLE JAMES',
 'OLAY HOWARD',
 'OLAY HOWARD',
 'PENN STATE CAPITAL CAMPUS',
 'CRAFT FAMILY FARM LLC.',
 'DEFIO JOHN',
 'DEFIO JOHN',
 'DEFIO JOHN',
 'HINCKLEY JENNIFER',
 'HINCKLEY JENNIFER',
 'HINCKLEY JENNIFER',
 'HINCKLEY JENNIFER',
 'HINCKLEY JENNIFER',
 'HINCKLEY JENNIFER',
 'TOWN OF HUME',
 'WEST BRANCH AREA SCHOOL DIST',
 'WEST BRANCH AREA SCHOOL DIST',
 'WEST BRANCH AREA SCHOOL DIST',
 'WEST BRANCH AREA SCHOOL DIST',
 'JEFFRIES ROBERT',
 'TOWN OF GREECE COMM PUBLIC WORKS',
 'SNYDER MATTHEW',
 'MONKELBAAN RICHARD',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VALLEY VIEW FARMS',
 'VAN ETTEN GARY',
 'VAN ETTEN GARY',
 'VAN ETTEN GARY',
 'FAIRBANKS CORRY',
 'FAIRBANKS CORRY',
 'FAIRBANKS CORRY',
 'FAIRBANKS CORRY',
 'FAIRBANKS CORRY',
 'FAIRBANKS CORRY',
 'HUNTINGTON ALBERT',
 'HUNTINGTON ALBERT',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'BRADLEY THOMAS',
 'WNY Farm Show',
 'YANCEY GEORGE',
 'YANCEY GEORGE',
 'MCNAMARA ROBERT',
 'MCNAMARA ROBERT',
 'MCNAMARA ROBERT',
 'RICHARD E DELANEY FARMS',
 'RICHARD E DELANEY FARMS',
 'RICHARD E DELANEY FARMS',
 'RICHARD E DELANEY FARMS',
 'CITY OF WILLIAMSPORT DEPARTMENT OF STREETS & PARKS',
 'CITY OF WILLIAMSPORT DEPARTMENT OF STREETS & PARKS',
 'CITY OF WILLIAMSPORT DEPARTMENT OF STREETS & PARKS',
 'CITY OF WILLIAMSPORT DEPARTMENT OF STREETS & PARKS',
 'LAGONER FARM',
 'CY FARMS LLC BATAVIA TURF',
 'CY FARMS LLC BATAVIA TURF',
 'SEIBERG JASON',
 'KEPPLE GEORGE',
 'EARL MACNAUGHTON',
 'EARL MACNAUGHTON',
 'EARL MACNAUGHTON',
 'BREA JOSEPH',
 'BREA JOSEPH',
 'BREA JOSEPH',
 'BREA JOSEPH',
 'BREA JOSEPH',
 'CHAFFEE FARMS, LLC',
 'CHAFFEE FARMS, LLC',
 'CHAFFEE FARMS, LLC',
 'BATH VA MEDICAL',
 'BATH VA MEDICAL',
 'STONY BROOK STATE PARK',
 'ERNST CONSERVATION SEEDS',
 'ERNST CONSERVATION SEEDS',
 'ERNST CONSERVATION SEEDS',
 'ARMBRUSTER HOWARD',
 'ARMBRUSTER HOWARD',
 'ARMBRUSTER HOWARD',
 'ARMBRUSTER HOWARD',
 'LINDER CRAIG',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'HOWELL JAMES',
 'HOWELL JAMES',
 'HOWELL JAMES',
 'HOWELL JAMES',
 'HOWELL JAMES',
 'HOWELL JAMES',
 '0',
 '0',
 '0',
 '0',
 'WILTSIE JOHN',
 'WILTSIE JOHN',
 'TOWNLINE VOL FIRE DEPT INC',
 'CAMPBELL WILL',
 'CAMPBELL WILL',
 'MONACO ENTERPRISES OF WNY, INC.',
 'OUR LADY OF PEACE PARISH ST STEHPEN CHURCH',
 'OUR LADY OF PEACE PARISH ST STEHPEN CHURCH',
 'OUR LADY OF PEACE PARISH ST STEHPEN CHURCH',
 'OUR LADY OF PEACE PARISH ST STEHPEN CHURCH',
 'CLINTON COUNTY SOLID WASTE AUTHORI',
 'HONEOYE FALLS LIMA CENTRAL SCHOOL',
 'DENNIS WAYNE',
 'DENNIS WAYNE',
 'Elliott Todd',
 'Elliott Todd',
 'SMITH MILTON',
 'SMITH MILTON',
 'SMITH MILTON',
 'SMITH MILTON',
 'SMITH MILTON',
 'SMITH MILTON',
 'FOREST LAWN CEMETERY',
 'UPPER DAUPHIN AREA HIGH SCHOOL ATTN: DAVE TALHELM',
 'UNITED SILICONE INC',
 'UNITED SILICONE INC',
 'UNITED SILICONE INC',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'BURT WILLIAM',
 'MILLS GREG',
 'MILLS GREG',
 'MILLS GREG',
 'MILLS GREG',
 'GOSS TERRY',
 'GOSS TERRY',
 'BELL GARY',
 'SANFILIPPO STEPHAN',
 'SANFILIPPO STEPHAN',
 'SANFILIPPO STEPHAN',
 'SMITH STEVE',
 'SMITH STEVE',
 'SMITH STEVE',
 'SMITH STEVE',
 'SMITH STEVE',
 'SMITH STEVE',
 'BARKER JASON',
 'BURTON DEBORAH',
 'BURTON DEBORAH',
 'Burns Don',
 'Burns Don',
 'MASON BRYCE',
 'CALTAGIRONE PHILIP',
 'MILLER JEFFERY',
 'GALVIN JERRY',
 'GALVIN JERRY',
 'GALVIN JERRY',
 'HENRY ERIC',
 'HENRY ERIC',
 'MACEWAN DANIEL',
 'SHEESLEY DEE JAY',
 'MCCOLL REVERDY J',
 'MCCOLL REVERDY J',
 'JA-LENE FARMS',
 'JA-LENE FARMS',
 'SNACKI WALTER',
 'BURDICK CLINTON',
 'FREDONIA CENTRAL SCHOOL',
 'BOLIVAR VILLAGE',
 'BOLIVAR VILLAGE',
 'BOLIVAR VILLAGE',
 'BOLIVAR VILLAGE',
 'THEBES HARV',
 'THEBES HARV',
 'SWEDE FARMS LLC',
 'SWEDE FARMS LLC',
 'Royalton highway',
 'Royalton highway',
 'Royalton highway',
 'RSGT LLC',
 'RSGT LLC',
 'RSGT LLC',
 'RSGT LLC',
 'BUSCAGLIA SALVATORE',
 'BUSCAGLIA SALVATORE',
 'BUSCAGLIA SALVATORE',
 'BUSCAGLIA SALVATORE',
 'BUSCAGLIA SALVATORE',
 'DELORENZO GERALD',
 'DELORENZO GERALD',
 'GALVIN JERRY',
 'TOWN OF CAMPBELL HIGHWAY DEPAR',
 'STEVER JOSEPH',
 'INDIAN ROCK DAM - USACE STEVE YOUNG',
 'NEW YORK STATE POLICE',
 'JAMES E LAIRD LAIRD FARMS',
 'Lauver Chuck',
 'Lauver Chuck',
 'ROMAN',
 'BENEDICT TIMOTHY',
 'BENEDICT TIMOTHY',
 'BENEDICT TIMOTHY',
 'QUINTANA DAVID',
 'QUINTANA DAVID',
 'QUINTANA DAVID',
 'QUINTANA DAVID',
 'KEPNER CARL',
 'SWEDE FARMS LLC',
 'SWEDE FARMS LLC',
 'SWEDE FARMS LLC',
 'SWEDE FARMS LLC',
 'SWEDE FARMS LLC',
 'HOBART AND WILLIAM SMITH COLLEGES',
 'HOBART AND WILLIAM SMITH COLLEGES',
 'HOBART AND WILLIAM SMITH COLLEGES',
 'POLITO AARON',
 'POLITO AARON',
 'POLITO AARON',
 'POLITO AARON',
 'POLITO AARON',
 'WILLIAMS WILLIAM',
 'CARKIN FARMS',
 'NEW YORK STATE POLICE',
 'ESTER PERRY',
 'SMITH CATHERINE',
 'SMITH CATHERINE',
 'SMITH CATHERINE',
 'CLARION UNIVERSITY OF PENNSYLVANIA ACCOUNTS PAYABLE/ RECEIVING DEPT.',
 'CLARION UNIVERSITY OF PENNSYLVANIA ACCOUNTS PAYABLE/ RECEIVING DEPT.',
 'CLARION UNIVERSITY OF PENNSYLVANIA ACCOUNTS PAYABLE/ RECEIVING DEPT.',
 'FOUR SQUARE PROPERTY MANAGEMENT.LLC',
 'FOUR SQUARE PROPERTY MANAGEMENT.LLC',
 'FOUR SQUARE PROPERTY MANAGEMENT.LLC',
 'FOUR SQUARE PROPERTY MANAGEMENT.LLC',
 'FINGER LAKES TURF AND LANDSCAP',
 'FINGER LAKES TURF AND LANDSCAP',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'MARQUART BROS FARMING LLC',
 'TRESSLER & FEDOR EXCAVATING FEDOR MICHAEL',
 'TRESSLER & FEDOR EXCAVATING FEDOR MICHAEL',
 'BREWER KRISTIN',
 'BREWER KRISTIN',
 'BREWER KRISTIN',
 'BRITT MICHAEL',
 'BRITT MICHAEL',
 'BRITT MICHAEL',
 'BRITT MICHAEL',
 'GUNN KENNETH',
 'GUNN KENNETH',
 'GUNN KENNETH',
 'GUNN KENNETH',
 'GUNN KENNETH',
 'PA DEPT ENVIRNMNTAL PROTECTION RAUSCH CREEK TREATMENT PLANT',
 'LINDER CRAIG',
 'RANDOLPH CENTRAL SCHOOL',
 'RANDOLPH CENTRAL SCHOOL',
 'RANDOLPH CENTRAL SCHOOL',
 'VILLAGE OF MEXICO',
 'VILLAGE OF MEXICO',
 'ZANOW GERALD',
 'ZANOW GERALD',
 'ZANOW GERALD',
 'ZANOW GERALD',
 'ZANOW GERALD',
 'ZANOW GERALD',
 'COX DAN',
 'MYERS JEFF',
 'RDIESEL TRUCK SALES',
 'HODGSON WESTON',
 'MCCHESNEY SCOTT',
 'MCCHESNEY SCOTT',
 'MILLER TRACY',
 'SKRZYPEK DARRYL',
 'BAKER JOHN',
 'R.L. JEFFRES & SONS, INC.',
 'R.L. JEFFRES & SONS, INC.',
 'R.L. JEFFRES & SONS, INC.',
 'STEWART BROTHERS FARM',
 'STEWART BROTHERS FARM',
 'MCCRAY CRAIG',
 'L.P. CAMPBELL & ASSOCIATES, LLC',
 'L.P. CAMPBELL & ASSOCIATES, LLC',
 'MILLER MIKE',
 'MILLER MIKE',
 'MILLER MIKE',
 'GALETON BOROUGH',
 'LITTLESTOWN BOROUGH',
 'JOSEPH ROSTAN',
 'JOSEPH ROSTAN',
 'JOSEPH ROSTAN',
 'JOSEPH ROSTAN',
 'JOSEPH ROSTAN',
 'MICHALES KEN',
 'RUSSELL CHRISTINE',
 'STONEWOOD BUILDERS LLC',
 'STONEWOOD BUILDERS LLC',
 'STONEWOOD BUILDERS LLC',
 'RICHLAND TOWNSHIP',
 'KEYMEL NICHOLAS',
 'CROCKER JUSTIN',
 'CROCKER JUSTIN',
 'CROCKER JUSTIN',
 'FOUST CHUCK',
 'Kibbe Barry',
 'PARCHEY HARRY',
 'DAUGHERTY CLYDE',
 'DAUGHERTY CLYDE',
 'DAUGHERTY CLYDE',
 'DETTBARN CAROL',
 'DETTBARN CAROL',
 'DETTBARN CAROL',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'R.C. LAWN CARE CHROSTOWSKI RONALD',
 'WINDH DEANNA',
 'WINDH DEANNA',
 'WINDH DEANNA',
 'WINDH DEANNA',
 'WINDH DEANNA',
 'MOLD CRAFT INC',
 'MOLD CRAFT INC',
 'LALLEY RICHARD',
 'MILLER JERRY',
 'MILLER JERRY',
 'MILLER JERRY',
 'MILLER JERRY',
 'BRIGHTON TOWNSHIP PUBLIC WORKS DEPT',
 'BRIGHTON TOWNSHIP PUBLIC WORKS DEPT',
 'SOUTH BUFFALO CHARTER SCHOOL',
 'SOUTH BUFFALO CHARTER SCHOOL',
 'SOUTH BUFFALO CHARTER SCHOOL',
 'SOUTH BUFFALO CHARTER SCHOOL',
 'CAREY STEPHEN',
 'CAREY STEPHEN',
 'BARTZ PETER',
 'AM FARMS, LLC',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'RICE SHANNON',
 'HESLINK TYLER',
 'WRIGHT GEORGE',
 'LUPINI CHRIS',
 'LUPINI CHRIS',
 'LUPINI CHRIS',
 'SWARTFAGER KENNETH',
 'CAHOON FARMS INC',
 'GOSS MILES',
 'GOSS MILES',
 'GOSS MILES',
 'GOSS MILES',
 'GOSS MILES',
 'SCIBILIA SAM',
 'ZUBER FARMS LLC',
 'WASIK FARMS',
 'DOUGLAS BARBARA',
 'LYNN ETTE & SONS INC.',
 'LYNN ETTE & SONS INC.',
 'BEGGS RICHARD',
 'SEE BRIAN',
 'MILLER GREGORY',
 'ENBRIDGE',
 'ENBRIDGE',
 'ENBRIDGE',
 'ENBRIDGE',
 'DLA DISTRIBUTION CENTER',
 'DLA DISTRIBUTION CENTER',
 'DLA DISTRIBUTION CENTER',
 'DLA DISTRIBUTION CENTER',
 'DLA DISTRIBUTION CENTER',
 'DLA DISTRIBUTION CENTER',
 'GRAND ISLAND CENTRAL SCHL DST GRAND ISLAND SENIOR HIGH SCHL',
 'GRAND ISLAND CENTRAL SCHL DST GRAND ISLAND SENIOR HIGH SCHL',
 '0',
 'MARRANCA JOSEPH',
 'MARRANCA JOSEPH',
 'MARRANCA JOSEPH',
 'DOLLARD FARMS DOLLARD FARMS',
 'DOLLARD FARMS DOLLARD FARMS',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'MCCANN BRENDA',
 'DECKER FARMS, LLC',
 'RAFFERTY TIM',
 'RAFFERTY TIM',
 'RAFFERTY TIM',
 'MILLER JERRY',
 'FERGUSON MICHAEL',
 'FERGUSON MICHAEL',
 'LAPP THOMAS',
 'LEE KYLE',
 'LEE KYLE',
 'FRITZ KARL',
 'FRITZ KARL',
 "WRAY'S LANDSCAPING INC.",
 "WRAY'S LANDSCAPING INC.",
 'ERNST CONSERVATION SEEDS',
 'GROUND FX LLC',
 'STAMBAUGH BRIAN',
 'YEAGER CHESTER',
 'SNYDER BENJAMIN',
 'SNYDER BENJAMIN',
 'SNYDER BENJAMIN',
 'SNYDER BENJAMIN',
 'SNYDER BENJAMIN',
 'MCKAY CATHY',
 'MCKAY CATHY',
 'GIESS NORM',
 'C & I BOILER REPAIR',
 'HAYES WILLIE',
 'MELICAN JOHN',
 'slovak john',
 'PINE HURST ACRES, LP',
 'PINE HURST ACRES, LP',
 'PINE HURST ACRES, LP',
 'WHITTIER LANDSCAPE ENTERPRISES, INC.',
 'WHITTIER LANDSCAPE ENTERPRISES, INC.',
 'WHITTIER LANDSCAPE ENTERPRISES, INC.',
 'WHITTIER LANDSCAPE ENTERPRISES, INC.',
 'METZ NATHAN',
 'LEONARD SCOTT',
 'GERNATT ARTHUR',
 'GERNATT ARTHUR',
 'COLE BUILDING SOLUTIONS',
 'LEWIS DENAE',
 'LEWIS DENAE',
 'FABIAN PAUL',
 'FABIAN PAUL',
 'FABIAN PAUL',
 'FABIAN PAUL',
 'BNC RECYCLING INC',
 'BNC RECYCLING INC',
 'BNC RECYCLING INC',
 'HAUCK CONSTRUCTION, LLC',
 'HAUCK CONSTRUCTION, LLC',
 'HAUCK CONSTRUCTION, LLC',
 'BARTZ PETER',
 'SHEA PETER',
 'SHEA PETER',
 'MCINTEE BILL',
 'MCINTEE BILL',
 'hauck',
 'hauck',
 'SNYDER KATHY',
 'SNYDER KATHY',

In [146]:
m2 = []
for i in range(10000,20000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m2.append('0')
            else:
                m2.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m2.append(jdquote1['ContactFirstName'][i])
            else:
                m2.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m2.append(jdquote1['CompanyName'][i])
            else:
                m2.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m2.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m2.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [147]:
m2

['DUTCH LANE FARMS KELLY EDWARD',
 'DUTCH LANE FARMS KELLY EDWARD',
 '0',
 '0',
 'LEBO MELVIN',
 'LEBO MELVIN',
 'DALLEN TERRY',
 'Ross Tim',
 'Ross Tim',
 'SECONDINO JIM',
 'neeley andrew',
 'neeley andrew',
 'neeley andrew',
 'SANTANA EUSTOLIA',
 'STEFFEN STEVEN',
 'BRAKE RONALD',
 'BRAKE RONALD',
 '0',
 '0',
 '0',
 'FITE RONALD',
 'NIAGARA GOLF PARTNERS',
 'NIAGARA GOLF PARTNERS',
 'NIAGARA GOLF PARTNERS',
 'NIAGARA GOLF PARTNERS',
 'NIAGARA GOLF PARTNERS',
 'BURDICK DAVID',
 'DRIVER DANIEL',
 'CURB SOLUTIONS INC.',
 'CURB SOLUTIONS INC.',
 'CURB SOLUTIONS INC.',
 'SCHRANTZ BRIAN',
 'SCHRANTZ BRIAN',
 'SCHRANTZ BRIAN',
 'ERDMAN JUSTIN',
 'PENNCREST SCHOOL DISTRICT',
 'CITY OF OLEAN',
 'CITY OF LOCK HAVEN',
 'CITY OF LOCK HAVEN',
 'CALVARY CEMETERY',
 'STEHR TRACY',
 'STEHR TRACY',
 'STEHR TRACY',
 'STEHR TRACY',
 'PENNCREST SCHOOL DISTRICT',
 'PENNCREST SCHOOL DISTRICT',
 'PENNCREST SCHOOL DISTRICT',
 'ERIE COUNTY SEWER DISTRICT 3',
 'ERIE COUNTY SEWER DISTRICT 3',
 'ERIE COUNTY SEWER DISTRICT 3',
 'ERIE COUNTY SEWER DISTRICT 3',
 "ZALE'S TREE & LANDSCAPE",
 'BUFFALO LANDSCAPE DESIGN INC ELIE BRANDON',
 'NYS DEC',
 'NYS DEC',
 'WOLCOTT FARMS 4 SEASONS OF FUN, LLC',
 'SNYDER KENNETH',
 'SNYDER KENNETH',
 'AUSTIN RON',
 'AUSTIN RON',
 'AUSTIN RON',
 'AUSTIN RON',
 'WEEPING WILLOW FARMS',
 'DUNN DOUGLAS',
 'DUNN DOUGLAS',
 'DUNN DOUGLAS',
 'DUNN DOUGLAS',
 'DUNN DOUGLAS',
 'DUNN DOUGLAS',
 'ENGSTROM BRIAN',
 'ZUCK RONALD',
 'BOW DONALD',
 'STEWART KEITH',
 'STEWART KEITH',
 'bargmann donald',
 'bargmann donald',
 'bargmann donald',
 'KOCH DAVID',
 'BOW DONALD',
 '0',
 'Bennett Jim',
 'LINDELL CHRISTOPHER',
 'HELLIER PETER',
 'HELLIER PETER',
 'HELLIER PETER',
 'HELLIER PETER',
 'CHRISTOPHER RIZZIERI',
 'CHRISTOPHER RIZZIERI',
 'CHRISTOPHER RIZZIERI',
 'CHRISTOPHER RIZZIERI',
 'CHRISTOPHER RIZZIERI',
 'KREIN KEN',
 '0',
 'BEHNKE CARRIE AND KENNETH',
 'BEHNKE CARRIE AND KENNETH',
 'BEHNKE CARRIE AND KENNETH',
 'crawford gerry',
 'crawford gerry',
 'PHALEN FARMS',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'ZAHM & MATSON INC',
 'coleman harold',
 'WRIGHT JOHN',
 'WRIGHT JOHN',
 'REYNOLDS SCOTT',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'CRAWFORD GERRY',
 'ROYER REAL ESTATE LLC',
 'WILLIAMSON NATHAN',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'DOYLE FARMS INC',
 'MARTIN BRYAN',
 'MARTIN BRYAN',
 'ZAHM & MATSON INC',
 '0',
 '0',
 '0',
 '0',
 'DEEME JOE',
 'STEWART KEITH',
 'STEWART KEITH',
 'STEWART KEITH',
 'CRAFT ADAM',
 'CRAFT ADAM',
 'CRAFT ADAM',
 'CRAFT FAMILY FARM LLC.',
 'CRAFT FAMILY FARM LLC.',
 'KEEFER MATT',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'murphy philip',
 'murphy philip',
 'murphy philip',
 'murphy philip',
 'murphy philip',
 'MODZESKI MARA',
 'NICKELSON JON',
 'NICKELSON JON',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 'BURCHIM DAVID',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 '585E & 5090E Focus',
 'BALCERZAK PAUL',
 'BALCERZAK PAUL',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'OROZCO RICK',
 'ANDREWS TODD',
 '0',
 'CRAWFORD JERRY',
 'CRAWFORD JERRY',
 'CRAWFORD JERRY',
 'STETSON RICHARD',
 'MUSSER BRIAN',
 'MURPHY ANDY',
 'PANGBORN DONALD',
 'DELFAVERO LOUIS E',
 '0',
 'HENRY ERIC',
 'RAUBER PETER',
 'MURPHY ANDY',
 'MURPHY ANDY',
 'MURPHY ANDY',
 'MURPHY ANDY',
 'SARDINIA TOM',
 'SLAYTON WILLIAM',
 'REISDORF VALERIE',
 'REISDORF VALERIE',
 'ELDER KEVIN',
 'GERKIN MARILYN',
 'SHEARER SCOTT',
 'LEECH MICHAEL',
 'LEECH MICHAEL',
 'LEECH MICHAEL',
 'BECKER MICHAEL',
 'BECKER MICHAEL',
 'MARRS RYAN',
 'MARRS RYAN',
 'MARRS RYAN',
 'MARRS RYAN',
 'MARRS RYAN',
 'HEIDEMANN FARMS',
 'BERGES DANIEL',
 'BERGES DANIEL',
 'MCCREATH',
 'MCCREATH',
 'BLACKWELL RONALD',
 'BLACKWELL RONALD',
 'BLACKWELL RONALD',
 'BLACKWELL RONALD',
 'KENNETH CROSS GRAPE RIDGE FARMS',
 'VOGT JACOB',
 'VOGT JACOB',
 'GORAL BILL',
 'HORST WYNNE',
 'HABEL KENNETH',
 'OFFHAUS FARMS INC',
 'COLEMAN CHESTER',
 'COLEMAN CHESTER',
 'COLEMAN CHESTER',
 'ELLIOTT NILES',
 'Rruening Fred',
 'Rruening Fred',
 'Rruening Fred',
 'Rruening Fred',
 "GRAHAM'S PUMP AND BACKHOE GRAHAM JAMES",
 "GRAHAM'S PUMP AND BACKHOE GRAHAM JAMES",
 'AVERYS LAWN & LANDSCAPE',
 'ROLAND GREGORY',
 'MANN JAMES',
 "GRAHAM'S PUMP AND BACKHOE GRAHAM JAMES",
 "GRAHAM'S PUMP AND BACKHOE GRAHAM JAMES",
 "GRAHAM'S PUMP AND BACKHOE GRAHAM JAMES",
 'SNYDERFARMS',
 'MERLE MARSHALL',
 'MILLER SANDY',
 'BURDIT DARRELL',
 'TRAIN TOWARD SELF RELIANCE INC',
 'TRAIN TOWARD SELF RELIANCE INC',
 'TRAIN TOWARD SELF RELIANCE INC',
 'TRAIN TOWARD SELF RELIANCE INC',
 'TRAIN TOWARD SELF RELIANCE INC',
 'SCARBOROUGH MARK',
 '0',
 '0',
 'BROMELEY TOM',
 'BROMELEY TOM',
 'BROMELEY TOM',
 'BROMELEY TOM',
 'GORAL BILL',
 'korcyl edward',
 'korcyl edward',
 'korcyl edward',
 'TORREY DAVID',
 'TORREY DAVID',
 'PETERSON AUCTION SERVICE',
 'MACK GENE',
 'TICE WILLIAM',
 'TICE WILLIAM',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'DOLLARD FARMS',
 'ENNIS JASON',
 'EISENHART RONALD',
 'wescoat keith',
 'wescoat keith',
 'wescoat keith',
 'COFFEY VICTOR',
 'CHESTNUT STEVE',
 'ross cylde',
 'ross cylde',
 'ross cylde',
 'ross cylde',
 'ross cylde',
 'LEEHAN WILLIAM',
 'FREEMAN MELVIN',
 'FREEMAN MELVIN',
 'FREEMAN MELVIN',
 'EISENHART RONALD',
 'Forkel Elwood',
 'Forkel Elwood',
 'CALLARA JIMMIE',
 'CALLARA JIMMIE',
 'BELLOMO JOE',
 'BELLOMO JOE',
 'BELLOMO JOE',
 'BELLOMO JOE',
 'BELLOMO JOE',
 'KING PAUL',
 'KOTUBA STEVE',
 'KOTUBA STEVE',
 'KOTUBA STEVE',
 '4 JACKS DAIRY, LLC',
 'ZIMMERMAN ROBERT',
 'SWARTFAGER DEREK',
 'MYERS JAY',
 'MYERS JAY',
 'MYERS JAY',
 'DAYTON CYNTHIA',
 'DAYTON CYNTHIA',
 'FARRUGGIA CHARLES',
 'FARRUGGIA CHARLES',
 'FARRUGGIA CHARLES',
 'CRAWFORD JERRY',
 'CRAWFORD JERRY',
 'CRAWFORD JERRY',
 'GUZDEK PROPERTIES GUZDEK CHARLES',
 'GUZDEK PROPERTIES GUZDEK CHARLES',
 'GUZDEK PROPERTIES GUZDEK CHARLES',
 'GUZDEK PROPERTIES GUZDEK CHARLES',
 'SCHLAGETER MARK',
 'Placek Larry',
 'TR SHEARER SHEARER TYLER',
 'BRANSINGTON MICHAEL',
 'BRASINGTON JEFFREY',
 'CERONIE AMY',
 'DAYMARK FARM, LLC.',
 'DAYMARK FARM, LLC.',
 'DAYMARK FARM, LLC.',
 'DAYMARK FARM, LLC.',
 '0',
 'Atwater Adam',
 'Atwater Adam',
 'Atwater Adam',
 'Atwater Adam',
 'CARDINAL LAWN AND LANDSCAPE, INC.',
 'SPENCERPORT CENTRAL SCHOOL DISTRICT',
 'SPENCERPORT CENTRAL SCHOOL DISTRICT',
 'CAMP LI LO LI INC',
 'BROAD MOUNTAIN VINEYARD, LLC',
 'BROAD MOUNTAIN VINEYARD, LLC',
 'BATH VA MEDICAL',
 'BATH VA MEDICAL',
 'BATH VA MEDICAL',
 'BATH VA MEDICAL',
 'BATH VA MEDICAL',
 'YATES COUNTY ARC',
 'YATES COUNTY ARC',
 'YATES COUNTY ARC',
 'YATES COUNTY ARC',
 'YATES COUNTY ARC',
 'SPENCERPORT CENTRAL SCHOOL DISTRICT',
 'SPENCERPORT CENTRAL SCHOOL DISTRICT',
 'SPENCERPORT CENTRAL SCHOOL DISTRICT',
 'Fallon Tim',
 'Fallon Tim',
 'Fallon Tim',
 'Fallon Tim',
 'PLUMMER DARVIN',
 'PLUMMER DARVIN',
 'MARTIN RAYLEE',
 'MARTIN RAYLEE',
 'MARTIN RAYLEE',
 'SCHWARTZ KERRY',
 'SCHWARTZ KERRY',
 'SHOUP LARRY',
 'SHOUP LARRY',
 '0',
 'LASKA STEVEN',
 'RAYPUSH EILEEN',
 'RAYPUSH EILEEN',
 'RAYPUSH EILEEN',
 'HALE JOHN',
 'CHEVALIER DAVID',
 'CHEVALIER DAVID',
 'ROSS DANIEL',
 'ROSS DANIEL',
 'FELSKI RANDY',
 'BOLL STEVEN',
 'DUNN CHARLES',
 'MILLER TRACY',
 'HUBBELL JOSHUA',
 'HUBBELL JOSHUA',
 'STENSHORN BERNADETTE',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'BARGMANN DONALD',
 'BARGMANN DONALD',
 'BARGMANN DONALD',
 'STOCKWELL KELLY',
 'HANLEY ROGER',
 'MCCLINTON EDNA',
 'PAUL JS',
 'PAUL JS',
 '0',
 'edna',
 'edna',
 'LAWHEAD JAMES',
 'LAWHEAD JAMES',
 'LAWHEAD JAMES',
 'LAWHEAD JAMES',
 'LAWHEAD JAMES',
 'KOLSTAD MIKE',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'FRAMPPTON RUTH',
 'GRAHAM MICHAEL',
 '0',
 '0',
 '0',
 '0',
 'SMITH DON',
 'YOUNG BRETT',
 'YOUNG BRETT',
 'BLAIR KENT',
 'FOERTSCH ALBERT',
 'KELLY ERIN',
 'KELLY ERIN',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 'WELCH TIMOTHY',
 '0',
 'PATRICK SCOTT',
 'JUKES DALE',
 'MCINTYRE DANIEL',
 'MATTIVI MICHAEL',
 'FOERTSCH ALBERT',
 'SACKETT WALTER',
 'PHILLIPS THOMAS',
 'PHILLIPS THOMAS',
 'PHILLIPS THOMAS',
 'PHILLIPS THOMAS',
 'NOWAK KENNETH',
 'NOWAK KENNETH',
 'LAWRENCE MARY',
 'DONAHUE PATRICK',
 'DONAHUE PATRICK',
 'DONAHUE PATRICK',
 'VENNETTI JOHN',
 '0',
 'ZIGO DAN',
 'BURDIN DARRYL',
 'BURDIN DARRYL',
 '0',
 '0',
 '0',
 '0',
 'NAGLE TIM',
 'NAGLE TIM',
 'NAGLE TIM',
 'NAGLE TIM',
 'NAGLE TIM',
 'NAGLE TIM',
 'WESTERMAN JASON',
 'WESTERMAN JASON',
 'WESTERMAN JASON',
 'RINEHART SHARON',
 'RINEHART SHARON',
 '0',
 '0',
 'LILLIE ROBERT',
 'BICKEL RICHARD',
 'TYLERSBURG AUTO REPAIR',
 '0',
 '0',
 'DSFSD DDH',
 'HINDS RODGER',
 'NAGEL TIMOTHY',
 'NAGEL TIMOTHY',
 'NAGEL TIMOTHY',
 'SHEAFFER WILLIAM',
 '0',
 'COOMBE THOMAS',
 'HALLICK LUKE',
 'HALLICK LUKE',
 'BROWN KEITH',
 'DUNHAM FAMILY FARMS',
 'HERNANDEZ LUZ',
 'BLAKE SHAUNA',
 'MCLAUGHLIN WESLEY',
 'FULLER GREGORY',
 'RUDA CATHERINE',
 'RUDA CATHERINE',
 'FRACCICA PAUL',
 'BUCKLAND ROBERT',
 'MCCANN MICHAEL',
 'STEPHENS DAN',
 'HASSINGER COREY',
 'ALBONE RICHARD',
 'NULF MICHAEL',
 'NULF MICHAEL',
 'NULF MICHAEL',
 'NULF MICHAEL',
 'NULF MICHAEL',
 'NULF MICHAEL',
 '0',
 '0',
 'BLANK JACOB',
 'LEADER DAVID',
 'VAUGHN ROBERT',
 'Lawhead Jim',
 'JOHN REIMELS & SON',
 'JOHN REIMELS & SON',
 'JOHN REIMELS & SON',
 'JOHN REIMELS & SON',
 'jackson randy',
 'jackson randy',
 'ST COLMBANS ON LK RTIREMENT HM',
 'ST COLMBANS ON LK RTIREMENT HM',
 'GLINSKY JOSEPH',
 'GLINSKY JOSEPH',
 'JOHNSON DRILLING MARK/TROY JOHNSON',
 'EGGERT BRADLEY',
 'EGGERT BRADLEY',
 'LENT HAROLD',
 'SPURK EDWARD',
 '0',
 '0',
 'EGGERT BRADLEY',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'ANTHONY GENE',
 'Hill Lance',
 'STITES LENNY',
 'FREY JEREMY',
 'ALBONE RICHARD',
 'ALBONE RICHARD',
 '0',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'REIMOLD RHONDA',
 'WAITE DAVID',
 'HALE RICHARD',
 'HALE RICHARD',
 '0',
 '0',
 'ERMANNO FERRI MASON CONTR INC FERRI ERMANNO',
 'THORPE GAYLE',
 'HOJER DEBORAH',
 'ZAHM & MATSON INC',
 'BREMAN DEVELOPMENT INC',
 'MARKLE JILL',
 'SHEMORY BOYD',
 '0',
 'ZIMMERMAN MARLIN',
 'DUDASH MICHAEL',
 'REDING DANIEL',
 '0',
 '0',
 'BLACKWELL RONALD',
 'JASKOLKA JAMES',
 'ZAHM & MATSON INC',
 'ZAHM & MATSON INC',
 'PARKHURST KRISTOPHER',
 'DURGAN KATELYN',
 'PAOLINI PAUL',
 'PAOLINI PAUL',
 'PAOLINI PAUL',
 'ADAMS FLORENCE',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'BENNETT JAMES',
 '0',
 '0',
 '0',
 '0',
 '0',
 'MORINGELLO ANTHONY',
 'MENDELSON TY',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'HEIL FRANCES',
 'WILKINS TEDD',
 'ZAHM & MATSON INC',
 'SOZIO JOHN',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'LAZY GATE FARM INC ZOLLINGER HOWARD',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'WASHOK CHARLES',
 'ZAHM & MATSON INC',
 'ZAHM & MATSON INC',
 'WITMEYER PAUL',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'FREEDOM FELLOWSHIP',
 'JOHNSON REX',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'GALAN LOUIS',
 'HISTANDS FARM & HOME SERV',
 'STITZER SAMUEL',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'MCCOY ROBERT',
 'STELL DALE',
 'GORAL WILLIAM',
 'HANAWAY MARK',
 'HOOVLER GARY',
 'HOOVLER GARY',
 'HOOVLER GARY',
 '0',
 'K.L. WARREN, INC.',
 'K.L. WARREN, INC.',
 'K.L. WARREN, INC.',
 'K.L. WARREN, INC.',
 'K.L. WARREN, INC.',
 'K.L. WARREN, INC.',
 'CLARK LUANN',
 'BUTTON JOHN',
 'VOGEL GARY',
 'VOGEL GARY',
 'BOVE JIM',
 'BOURGOINE JIM',
 'RYAN JAMES',
 'ORTEL DANIEL',
 'MCDOWELL JAMES',
 'HALL NEIL',
 'YOUNG CHARLES',
 'R-DREAM FARM LLC',
 'R-DREAM FARM LLC',
 'RYAN EDWARD',
 'YANTZ SCOTT',
 'Zanoline David',
 'Zanoline David',
 'TURNER ROBERT',
 'TURNER ROBERT',
 'TURNER ROBERT',
 '0',
 '0',
 'BURROWS BROS INC',
 'BURROWS BROS INC',
 'BURROWS BROS INC',
 'PAVLOVIC ELLEN',
 'PAVLOVIC ELLEN',
 'PAVLOVIC ELLEN',
 'PAVLOVIC ELLEN',
 'Schylaski Ryan',
 'Schylaski Ryan',
 'SNYDER DEAN',
 'SNYDER DEAN',
 'SNYDER DEAN',
 'RHOADES RODNEY L',
 'RHOADES RODNEY L',
 'RHOADES RODNEY L',
 'RHOADES RODNEY L',
 'RHOADES RODNEY L',
 '0',
 '0',
 '0',
 'HINER RON',
 'HINER RON',
 'HINER RON',
 'HINER RON',
 'WORTMAN RICHARD',
 'WORTMAN RICHARD',
 'KELLEY JENNIFER',
 'SULLIVAN JOE',
 'SULLIVAN JOE',
 'MARTIN EDWARD',
 'CURTIS DICK',
 'FOXRUN FARM',
 'FOXRUN FARM',
 'RYAN JIM',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'CB CONSTRUCTION SERVICES INC',
 'REED ANTHONY',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'LAKESIDE CONCRETE SERVICES INC',
 'DUFFY PAUL',
 'HAMMOND BROTHERS',
 '0',
 'GEKOSKI BONNIE',
 'GEKOSKI BONITA',
 'KUSTANBAUTER JAMES',
 'KUSTANBAUTER JAMES',
 'MODERACKI HANK',
 'WHITE GARY',
 'ODELL FARMS PARTNERSHIP ODELL JONATHAN',
 'HEPHNER LAWNCARE LLC HEPHNER, HEPHNER, TIM D',
 'NYBECK AL',
 'NYBECK AL',
 'NYBECK AL',
 '0',
 '0',
 '0',
 'FORGE CELLARS LLC',
 'JOSH BARLEY TRUCKING LLC BARLEY JOSH',
 '0',
 'WOODWARD DONALD',
 'HORN NICOLE',
 'KULL ANDREW',
 'SHEPARD ROBERT',
 'HARDING JEFFREY',
 'ODS MANAGEMENT GROUP',
 'ODS MANAGEMENT GROUP',
 'ODS MANAGEMENT GROUP',
 'ODS MANAGEMENT GROUP',
 'WHITEMAN ROBERT',
 'BRAKE RONALD',
 'BRACKBILL MAURICE',
 'SHAWVER KIMBERLY',
 'LIESURETIMEERS APARTMENTS OGIONY MARK',
 'LIESURETIMEERS APARTMENTS OGIONY MARK',
 'LIESURETIMEERS APARTMENTS OGIONY MARK',
 'LIESURETIMEERS APARTMENTS OGIONY MARK',
 'MITCHELL KELLY',
 'SMITH JAMES',
 'BURROWS BROS INC',
 'BURROWS BROS INC',
 'BURROWS BROS INC',
 '0',
 'CURRY MICHAEL',
 'CURRY MICHAEL',
 'CURRY MICHAEL',
 'ANDERSON KEN',
 'JOHNSON RYAN',
 'JOHNSON RYAN',
 'CUOZZO KELLY',
 'CURRY MICHAEL',
 'CURRY MICHAEL',
 'CURRY MICHAEL',
 'ROMEISER ERIC',
 'ROMEISER ERIC',
 'ROMEISER ERIC',
 'ROMEISER ERIC',
 'ROMEISER ERIC',
 'SWARTFAGER KEN',
 '0',
 'CONDO JILL',
 'GALETON AREA SCHOOL DISTRICT',
 'GALETON AREA SCHOOL DISTRICT',
 'GALETON AREA SCHOOL DISTRICT',
 'LANCASTER KIM',
 '0',
 'Steve',
 'Steve',
 'Steve',
 'HOUSEMANS LANDSCAPING',
 'HOUSEMANS LANDSCAPING',
 'HOUSEMANS LANDSCAPING',
 'HOUSEMANS LANDSCAPING',
 'HOUSEMANS LANDSCAPING',
 'EDEN MEMORIAL POST 8265 ORTEL DAN',
 'CRAWFORD GARY',
 'SENECA GAMING AND ENTRMT SENECA BINGO',
 'SENECA GAMING AND ENTRMT SENECA BINGO',
 'SENECA GAMING AND ENTRMT SENECA BINGO',
 'SHORT TIMOTHY',
 'EGGERT BRADLEY',
 'LIBBY TERRY',
 'LIBBY TERRY',
 '0',
 '0',
 'SPONTANEO DAVID',
 'MORRIS BRILL',
 'FENTON JOHN',
 'GALAN LOUIS',
 'GALAN LOUIS',
 ...]

In [148]:
for i in m2:
    m1.append(i)

In [150]:
m3 = []
for i in range(20000,30000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m3.append('0')
            else:
                m3.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m3.append(jdquote1['ContactFirstName'][i])
            else:
                m3.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m3.append(jdquote1['CompanyName'][i])
            else:
                m3.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m3.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m3.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [151]:
for i in m3:
    m1.append(i)

In [152]:
m4 = []
for i in range(30000,40000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m4.append('0')
            else:
                m4.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m4.append(jdquote1['ContactFirstName'][i])
            else:
                m4.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m4.append(jdquote1['CompanyName'][i])
            else:
                m4.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m4.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m4.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [153]:
for i in m4:
    m1.append(i)

In [155]:
m5 = []
for i in range(40000,50000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m5.append('0')
            else:
                m5.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m5.append(jdquote1['ContactFirstName'][i])
            else:
                m5.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m5.append(jdquote1['CompanyName'][i])
            else:
                m5.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m5.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m5.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [156]:
for i in m5:
    m1.append(i)

In [157]:
m6 = []
for i in range(50000,60000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m6.append('0')
            else:
                m6.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m6.append(jdquote1['ContactFirstName'][i])
            else:
                m6.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m6.append(jdquote1['CompanyName'][i])
            else:
                m6.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m6.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m6.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [158]:
for i in m6:
    m1.append(i)

In [159]:
m7 = []
for i in range(60000,70000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m7.append('0')
            else:
                m7.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m7.append(jdquote1['ContactFirstName'][i])
            else:
                m7.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m7.append(jdquote1['CompanyName'][i])
            else:
                m7.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m7.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m7.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [160]:
for i in m7:
    m1.append(i)

In [161]:
m8 = []
for i in range(70000,80000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m8.append('0')
            else:
                m8.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m8.append(jdquote1['ContactFirstName'][i])
            else:
                m8.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m8.append(jdquote1['CompanyName'][i])
            else:
                m8.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m8.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m8.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [162]:
for i in m8:
    m1.append(i)

In [163]:
m9 = []
for i in range(80000,90000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m9.append('0')
            else:
                m9.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m9.append(jdquote1['ContactFirstName'][i])
            else:
                m9.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m9.append(jdquote1['CompanyName'][i])
            else:
                m9.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m9.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m9.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [164]:
for i in m9:
    m1.append(i)

In [165]:
m10 = []
for i in range(90000,100000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m10.append('0')
            else:
                m10.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m10.append(jdquote1['ContactFirstName'][i])
            else:
                m10.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m10.append(jdquote1['CompanyName'][i])
            else:
                m10.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m10.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m10.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [166]:
for i in m10:
    m1.append(i)

In [167]:
len(m1)

100000

In [169]:
m11= []
for i in range(100000,110000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m11.append('0')
            else:
                m11.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m11.append(jdquote1['ContactFirstName'][i])
            else:
                m11.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m11.append(jdquote1['CompanyName'][i])
            else:
                m11.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m11.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m11.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [170]:
for i in m11:
    m1.append(i)

In [171]:
m12= []
for i in range(110000,120000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m12.append('0')
            else:
                m12.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m12.append(jdquote1['ContactFirstName'][i])
            else:
                m12.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m12.append(jdquote1['CompanyName'][i])
            else:
                m12.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m12.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m12.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [172]:
for i in m12:
    m1.append(i)

In [173]:
m13= []
for i in range(120000,130000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m13.append('0')
            else:
                m13.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m13.append(jdquote1['ContactFirstName'][i])
            else:
                m13.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m13.append(jdquote1['CompanyName'][i])
            else:
                m13.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m13.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m13.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [174]:
for i in m13:
    m1.append(i)

In [175]:
m14 = []
for i in range(130000,140000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m14.append('0')
            else:
                m14.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m14.append(jdquote1['ContactFirstName'][i])
            else:
                m14.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m14.append(jdquote1['CompanyName'][i])
            else:
                m14.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m14.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m14.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [176]:
for i in m14:
    m1.append(i)

In [177]:
m15 = []
for i in range(140000,150000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m15.append('0')
            else:
                m15.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m15.append(jdquote1['ContactFirstName'][i])
            else:
                m15.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m15.append(jdquote1['CompanyName'][i])
            else:
                m15.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m15.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m15.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [178]:
for i in m15:
    m1.append(i)

In [179]:
m16 = []
for i in range(150000,160000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m16.append('0')
            else:
                m16.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m16.append(jdquote1['ContactFirstName'][i])
            else:
                m16.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m16.append(jdquote1['CompanyName'][i])
            else:
                m16.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m16.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m16.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [180]:
for i in m16:
    m1.append(i)

In [181]:
m17 = []
for i in range(160000,170000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m17.append('0')
            else:
                m17.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m17.append(jdquote1['ContactFirstName'][i])
            else:
                m17.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m17.append(jdquote1['CompanyName'][i])
            else:
                m17.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m17.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m17.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [182]:
for i in m17:
    m1.append(i)

In [183]:
m18 = []
for i in range(170000,180000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m18.append('0')
            else:
                m18.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m18.append(jdquote1['ContactFirstName'][i])
            else:
                m18.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m18.append(jdquote1['CompanyName'][i])
            else:
                m18.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m18.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m18.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [184]:
for i in m18:
    m1.append(i)

In [185]:
m19 = []
for i in range(180000,190000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m19.append('0')
            else:
                m19.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m19.append(jdquote1['ContactFirstName'][i])
            else:
                m19.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m19.append(jdquote1['CompanyName'][i])
            else:
                m19.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m19.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m19.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [186]:
for i in m19:
    m1.append(i)

In [187]:
m20 = []
for i in range(190000,200000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m20.append('0')
            else:
                m20.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m20.append(jdquote1['ContactFirstName'][i])
            else:
                m20.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m20.append(jdquote1['CompanyName'][i])
            else:
                m20.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m20.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m20.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [188]:
for i in m20:
    m1.append(i)

In [189]:
m21 = []
for i in range(200000,210000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m21.append('0')
            else:
                m21.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m21.append(jdquote1['ContactFirstName'][i])
            else:
                m21.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m21.append(jdquote1['CompanyName'][i])
            else:
                m21.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m21.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m21.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [190]:
for i in m21:
    m1.append(i)

In [199]:
m22 = []
for i in range(210000,220000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m22.append('0')
            else:
                m22.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m22.append(jdquote1['ContactFirstName'][i])
            else:
                m22.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m22.append(jdquote1['CompanyName'][i])
            else:
                m22.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m22.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m22.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [200]:
for i in m22:
    m1.append(i)

In [201]:
m23 = []
for i in range(220000,230000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m23.append('0')
            else:
                m23.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m23.append(jdquote1['ContactFirstName'][i])
            else:
                m23.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m23.append(jdquote1['CompanyName'][i])
            else:
                m23.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m23.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m23.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [202]:
for i in m23:
    m1.append(i)

In [203]:
m24 = []
for i in range(230000,240000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m24.append('0')
            else:
                m24.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m24.append(jdquote1['ContactFirstName'][i])
            else:
                m24.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m24.append(jdquote1['CompanyName'][i])
            else:
                m24.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m24.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m24.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [204]:
for i in m24:
    m1.append(i)

In [205]:
m25 = []
for i in range(240000,250000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m25.append('0')
            else:
                m25.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m25.append(jdquote1['ContactFirstName'][i])
            else:
                m25.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m25.append(jdquote1['CompanyName'][i])
            else:
                m25.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m25.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m25.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [206]:
for i in m25:
    m1.append(i)

In [207]:
m26 = []
for i in range(250000,260000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m26.append('0')
            else:
                m26.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m26.append(jdquote1['ContactFirstName'][i])
            else:
                m26.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m26.append(jdquote1['CompanyName'][i])
            else:
                m26.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m26.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m26.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [208]:
for i in m26:
    m1.append(i)

In [209]:
m27 = []
for i in range(260000,270000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m27.append('0')
            else:
                m27.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m27.append(jdquote1['ContactFirstName'][i])
            else:
                m27.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m27.append(jdquote1['CompanyName'][i])
            else:
                m27.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m27.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m27.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [210]:
for i in m27:
    m1.append(i)

In [211]:
m28 = []
for i in range(270000,280000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m28.append('0')
            else:
                m28.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m28.append(jdquote1['ContactFirstName'][i])
            else:
                m28.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m28.append(jdquote1['CompanyName'][i])
            else:
                m28.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m28.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m28.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [212]:
for i in m28:
    m1.append(i)

In [213]:
m29 = []
for i in range(280000,290000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m29.append('0')
            else:
                m29.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m29.append(jdquote1['ContactFirstName'][i])
            else:
                m29.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m29.append(jdquote1['CompanyName'][i])
            else:
                m29.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m29.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m29.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [214]:
for i in m29:
    m1.append(i)

In [215]:
m30 = []
for i in range(290000,300000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m30.append('0')
            else:
                m30.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m30.append(jdquote1['ContactFirstName'][i])
            else:
                m30.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m30.append(jdquote1['CompanyName'][i])
            else:
                m30.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m30.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m30.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [216]:
for i in m30:
    m1.append(i)

In [217]:
m31 = []
for i in range(300000,310000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m31.append('0')
            else:
                m31.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m31.append(jdquote1['ContactFirstName'][i])
            else:
                m31.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m31.append(jdquote1['CompanyName'][i])
            else:
                m31.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m31.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m31.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [218]:
for i in m31:
    m1.append(i)

In [219]:
m32 = []
for i in range(310000,320000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m32.append('0')
            else:
                m32.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m32.append(jdquote1['ContactFirstName'][i])
            else:
                m32.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m32.append(jdquote1['CompanyName'][i])
            else:
                m32.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m32.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m32.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [220]:
for i in m32:
    m1.append(i)

In [221]:
m33 = []
for i in range(320000,330000,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m33.append('0')
            else:
                m33.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m33.append(jdquote1['ContactFirstName'][i])
            else:
                m33.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m33.append(jdquote1['CompanyName'][i])
            else:
                m33.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m33.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m33.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [222]:
for i in m33:
    m1.append(i)

In [223]:
m34 = []
for i in range(330000,330451,1):
    if jdquote1['CompanyName'].isna()[i]:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m34.append('0')
            else:
                m34.append(jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m34.append(jdquote1['ContactFirstName'][i])
            else:
                m34.append(jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])
    else:
        if jdquote1['ContactFirstName'].isna()[i]:
            if jdquote1['ContactLastName'].isna()[i]:
                m34.append(jdquote1['CompanyName'][i])
            else:
                m34.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i])
        else:
            if jdquote1['ContactLastName'].isna()[i]:
                m34.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactFirstName'][i])
            else:
                m34.append(jdquote1['CompanyName'][i]+' '+jdquote1['ContactLastName'][i]+' '+jdquote1['ContactFirstName'][i])

In [224]:
for i in m34:
    m1.append(i)

In [225]:
m = {'CustomerName':m1}

In [226]:
data1 = pd.DataFrame(m)

In [227]:
data1.head()

   CustomerName
0  FOSKIT KEVIN
1  FOSKIT KEVIN
2  FOSKIT KEVIN
3  FOSKIT KEVIN
4  FOSKIT KEVIN

In [228]:
data1.shape

(330451, 1)

In [229]:
data1.to_csv('data.csv')

In [230]:
jdquote1['CustomerName'] = m1

In [231]:
jdquote1.head()

,QuoteID,NameOfQuote,QuoteType,CreationDate,ExpirationDate,CurrentQuoteStatus,CreatedLogon,LastModifiedLogon,SalesPersonName,CompanyName,...,Competitor model,Comments on Lost Deal,Net Cost,WorkFlow Status,Type,Unnamed: 62,Base/Implement,Sold To2,CustomerName,FullName
0,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,nan FOSKIT KEVIN,FOSKIT KEVIN,FOSKIT KEVIN
1,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,nan FOSKIT KEVIN,FOSKIT KEVIN,FOSKIT KEVIN
2,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,nan FOSKIT KEVIN,FOSKIT KEVIN,FOSKIT KEVIN
3,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,nan FOSKIT KEVIN,FOSKIT KEVIN,FOSKIT KEVIN
4,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,nan FOSKIT KEVIN,FOSKIT KEVIN,FOSKIT KEVIN

In [232]:
jdquote1.shape

(330451, 67)

In [239]:
jdquote1 = jdquote1.drop(['FullName','Sold To2'],axis = 1)

In [240]:
jdquote1.shape

(330451, 65)

In [241]:
jdquote1.head()

,QuoteID,NameOfQuote,QuoteType,CreationDate,ExpirationDate,CurrentQuoteStatus,CreatedLogon,LastModifiedLogon,SalesPersonName,CompanyName,...,Reason For Lost Sales,Sales Lost To,Competitor model,Comments on Lost Deal,Net Cost,WorkFlow Status,Type,Unnamed: 62,Base/Implement,CustomerName
0,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,FOSKIT KEVIN
1,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,FOSKIT KEVIN
2,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,FOSKIT KEVIN
3,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,FOSKIT KEVIN
4,18744620,Kevin,Purchase,2-Jan-19,9-Jan-19,Expired,X632257,X632257,"HALE,DUSTIN",NaN,...,NaN,NaN,NaN,NaN,"25,600.00",Not Sent,NaN,NaN,Base,FOSKIT KEVIN

In [242]:
jdquote1.to_csv('jdquote.csv')

In [243]:
sales.shape

(55377, 20)

In [245]:
sales.head()

,Location,Stock #,Serial No,Model,Make,Description,New/Used,Sale Date,Date Rcvd,Sold To,Total Sales,Total Cost,Gross Margin,Gross Margin %,salesperson_name,Salesperson Code,Acquired By,DaysOld,category,sold_to_code
0,(18) Centre Hall,415773,NaN,RB2072,JOHN DEERE,6' REAR BLADE /STRINGER,U,01/02/2019,01/07/2014,VALLEY AG & TURF LLC HALIFAX,$400.00,$400.00,$0.00,0.00%,AUCTION,S0199,NaN,1821.0,NaN,VALLEYC43447
1,(18) Centre Hall,442612,M0L150A022123,LT150,JOHN DEERE,"L&G GEAR W/38"" DE",U,01/02/2019,02/25/2015,VALLEY AG & TURF LLC HALIFAX,$650.00,$650.00,$0.00,0.00%,AUCTION,S0199,S1842,1407.0,60,VALLEYC43447
2,(18) Centre Hall,444184,M0G345E121228,GX345 48C TURF TIRES,JOHN DEERE,L&G TRACTOR,U,01/02/2019,06/30/2015,VALLEY AG & TURF LLC HALIFAX,"$2,456.00","$2,455.90",$0.10,0.00%,AUCTION,S0199,S1842,1282.0,60,VALLEYC43447
3,(18) Centre Hall,445659,NaN,STEEL TRACKS,GROUSER,TRACKS FOR SKID STEER,U,01/02/2019,10/29/2015,VALLEY AG & TURF LLC HALIFAX,$300.00,$300.00,$0.00,0.00%,AUCTION,S0199,S1840,1161.0,NaN,VALLEYC43447
4,(18) Centre Hall,447626,NaN,GT235,JOHN DEERE,L&G GT235 W/48C,U,01/02/2019,05/04/2016,VALLEY AG & TURF LLC HALIFAX,$749.90,$750.00,($0.10),-0.01%,AUCTION,S0199,S1838,973.0,NaN,VALLEYC43447

In [249]:
quote_sales = pd.merge(jdquote1,sales,left_on = 'CustomerName',right_on = 'Sold To')

In [250]:
quote_sales.shape

(167484, 85)

In [251]:
quote_sales.head()

,QuoteID,NameOfQuote,QuoteType,CreationDate,ExpirationDate,CurrentQuoteStatus,CreatedLogon,LastModifiedLogon,SalesPersonName,CompanyName,...,Total Sales,Total Cost,Gross Margin,Gross Margin %,salesperson_name,Salesperson Code,Acquired By,DaysOld,category,sold_to_code
0,18746816,Valley View-7R,Purchase,2-Jan-19,31-Jan-19,Expired,X3C2252,X3C2252,"KELSEY,THOMAS R",VALLEY VIEW FARMS,...,"$45,900.00","$37,214.82","$8,685.18",18.92%,TOM KELSEY,S0302,S0406,259.0,WDO,BROWNHARC26445
1,18746816,Valley View-7R,Purchase,2-Jan-19,31-Jan-19,Expired,X3C2252,X3C2252,"KELSEY,THOMAS R",VALLEY VIEW FARMS,...,"$20,800.00","$20,507.53",$292.47,1.41%,TOM KELSEY,S0302,S0302,23.0,TLI,BROWNHARC26445
2,18746816,Valley View-7R,Purchase,2-Jan-19,31-Jan-19,Expired,X3C2252,X3C2252,"KELSEY,THOMAS R",VALLEY VIEW FARMS,...,"$90,000.00","$83,700.00","$6,300.00",7.00%,TOM KELSEY,S0302,S0302,18.0,2WD,BROWNHARC26445
3,18746816,Valley View-7R,Purchase,2-Jan-19,31-Jan-19,Expired,X3C2252,X3C2252,"KELSEY,THOMAS R",VALLEY VIEW FARMS,...,"$89,000.00","$151,985.66","($62,985.66)",-70.77%,TOM KELSEY,S0302,S0114,1516.0,FHV,BROWNHARC26445
4,18746816,Valley View-7R,Purchase,2-Jan-19,31-Jan-19,Expired,X3C2252,X3C2252,"KELSEY,THOMAS R",VALLEY VIEW FARMS,...,"$10,000.00","$6,011.46","$3,988.54",39.89%,TOM KELSEY,S0302,S0114,1516.0,HFA,BROWNHARC26445

In [254]:
quote_sales.to_csv('quote_sales.csv',encoding = 'utf-8')